body{
    background: #141414;
}
.leaderboard {
    display: grid;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
    grid-gap: 40px;
}
.team {
    border: 1px solid black;
    padding: 10px;
}
._shadow:hover {
    transition: all 150ms;
    background-color: #6C63FF;
    box-shadow: 0 0.5em 0.5em -0.4em #6C63FF;
}